/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

/* css vars */
:root
{
    --clr-primary:#DC10B2;
    --clr-primary-active:#b11091;
    --clr-primary-dark:#A23FD9;
    --clr-bg:#0e0e0e;
    --clr-white:#fff;
    --clr-black:#222;
    --ff-primary:'Open Sans',serif;
    --ff-secondary:'Caveat',serif;
}
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    background-color:var(--clr-bg);
    height: 10000px;
    position: relative;
}
.container
{
    width: 100%;
    height: 8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}
.navbar
{
    top: 2rem;
    background-color: black;
    width: 80%;
    height: 6rem;
    border-radius: 30px;
    /* overflow: hidden; */
    z-index: 1000;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;

}
.button
{
    font-family: var(--ff-primary);
    color:var(--clr-white);
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 3em;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5;
    transition: background-color 0.2s ease-in-out;
    line-height: 1;
}
.button i 
{
    font-size: 1.2rem; 
    display: inline-block; 
    vertical-align: middle; 
}

.button span 
{
    display: inline-block; 
    vertical-align: middle; 
}
.button:hover
{
    background-color: var(--clr-primary);
    border-radius: 3em;
}
.button:active
{
    background-color: var(--clr-primary-active);
}

.fa-solid
{
    margin-right: 4px;
}